:root{
    --color-yellow: #C68409;
    --color-red: #EB001B;
    --color-gray: #262626;
    --color-grad: #422F0B;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-color: #262626;
}

.text-white {
    color: white;
}

.background-yellow {
    background-color: var(--color-yellow);
}

.background-red {
    background-color: var(--color-red);
}

.breadcrumb {
    min-height: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.breadcrumb > a {
    text-decoration: none;
}

.breadcrumb > a > img {
    width: 30px;
    height: 30px;
}

.breadcrumb > p {
    color: gray;
    font-weight: bold;
    font-style: italic;
    margin: 0px;
}

.breadcrumb > hr {
    background-color: gray;
}