:root{
    --color-yellow: #C68409;
    --color-red: #EB001B;
    --color-gray: #262626;
    --color-grad: #422F0B;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-color: #262626;
}

.text-white {
    color: white;
}

.background-yellow {
    background-color: var(--color-yellow);
}

.background-red {
    background-color: var(--color-red);
}