@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

/* navbar css */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat|Quicksand");

/* Top */
*{
  font-family: 'Raleway', sans-serif;
}

#top1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #080808de;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  color: white;
}

#top1 p {
  font-size: 17px;
  font-weight: 450;
  font-family: sans-serif;
  margin-top: 10px;
  color: white;
}

#topbar1 a {
  text-decoration: none;
  margin-left: 20px;
  font-weight: 300;
  color: white;
}

#topbar1 a span {
  font-size: 17px;
  margin-left: 3px;
  color: white;
}

/* Header */

#header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 76px;
  background-color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 999;
}

.left-section1 {
  display: flex;
  align-items: center;
}

.right-section1 {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

#navbar1 {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#navbar1 li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#navbar1 li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  transition: 0.3s ease;
}

#navbar1 li a:hover,
#navbar1 li a.active {
  color: #c68409;
}

#navbar1 li a.active::after,
#navbar1 li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #465b52;
  position: absolute;
  bottom: -4px;
  left: 35%;
}

.form1 {
  display: flex;
  align-items: center;
}

.icons1 {
  display: flex;
  align-items: center;
}

.form1 .search-bar1 {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  padding: 7px;
  width: 342px;
  border: 1px solid white;
  margin-right: 90px;
}

.form1 .search-bar1 input {
  border: none;
  outline: none;
  flex-grow: 1;
  color: #ffffff;
  padding: 0 10px;
  font-size: 18px;
  background-color: black;
}

.search-icon {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

/* Footer CSS */

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 60vh;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3vw;
  padding: 72px 8vw;
  color: white;

  .h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    color: white;
  }
  .brand1 .h5 {
    display: flex;
    text-transform: uppercase;
    gap: 16px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .brand1 {
    max-width: 200px;
    gap: 24px;
    line-height: 1.5;
    color: white;
  }
}

.newsletter1 {
  position: relative;
  input {
    font-size: 16px;
    font-weight: 400;
    height: 53px;
    padding: 6px 6px 6px 16px;
    background: transparent;
    border: 1px solid white-and-gray-light-gray;
    color: white-and-gray-light-gray;
    outline: none;
    border-radius: 14px;
    font-size: 16px;
    width: 370px;
  }

  button {
    position: absolute;
    padding: 16px 40px;
    height: 53px;
    border-radius: 10px;
    border: none;
    background-color: color-yellow;
    font-size: 16px;
    font-weight: 500;
    color: color-purple;
    right: 6px;
    top: 6px;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      border-radius: 70px 10px 70px 10px;
      box-shadow: -10px 0px white-and-gray-light-gray;
    }
  }
}

.newsletter1 {
  display: flex; /* Use flex display */
  align-items: center; /* Vertically align content */
}

.newsletter1 input {
  flex: 1;
  font-size: 15px;
  height: 55px;
  padding: 19px 20px;
  /* border-radius:30px 0px 0px 30px; */
  width: 300px;
}

.newsletter1 button {
  padding: 6px 29px;
  height: 54px;
  font-size: 18px;
  margin-left: -12px;
  /* border-radius: 0px 30px 30px 0px; */
  background-color: #9d9d9d;
}

.social1 {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .social-icon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 20% 20% 20% 20%;
  }
  a {
    transition: all 0.3s ease;
  }
  a:hover {
    box-shadow: 0px 0px 20px 1px #726193;
    transform: scale(1.1);
  }
}

.copyright1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 32px 8vw;
  background-color: color-yellow;
  a {
    color: dark;
    margin: 0 1vw 0 1vw;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      background-color: dark !important;
    }
  }
}

.copyright1 p,
a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.about1 a {
  color: white-and-gray-light-gray;
  text-decoration: none;
  color: white;
}

footer a {
  position: relative;

  &:not(.social-icon)::before {
    background-color: white-and-gray-light-gray;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

@media (max-width: 960px) {
  .footer1 {
    gap: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .brand {
      max-width: 400px !important;
    }
  }

  .subscribe1 {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    .newsletter {
      width: 100%;
      max-width: 370px;
    }
    .newsletter1 input {
      width: calc(100% - 22px);
    }
  }

  .copyright1 {
    padding: 32px 5vw;
    p,
    a {
      font-size: 14px;
    }
  }

  .footer1 {
    padding: 72px 8vw;
  }
}

@media (max-width: 360px) {
  p,
  a {
    font-size: 14px;
  }

  .footer1 .h5 {
    font-size: 16px;
  }
}

/* Page */
/* Style the container */
.signup-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 60px; /* Add margin to the top to create space */
  background-color: #eeeeee;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for separation */
  margin-bottom: 90px;
}

/* Style the form */
#register_form {
  text-align: center;
}

/* Style the heading */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style the labels */
label {
  font-weight: bold;
}

/* Style the input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style the buttons */
.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #EB001B;
  font-weight: bolder;
  font-size: 14px;
}

/* Style the Google Signup button */
#google_signup_btn {
  background-color: #c68409;
  font-weight: bolder;
  font-size: 14px;
}

/* Style the anchor link */
.anchor {
  text-decoration: none;
  color: #007bff;
  margin-top: 10px;
  display: block;
  text-align: center;
}

/* Style the anchor link on hover */
.anchor:hover {
  text-decoration: underline;
}
