/* ids */
#container {
  display: flex;
  gap: 1em;
}
#container div {
  margin-bottom: 1em;
}
#item-characterstics {
  padding: 1em;
}

/* classes */
.card {
  background-color: white;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
}
.characterstic {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid grey;
}
.golden-button {
  border: none;
  background-image: linear-gradient(45deg, #c68409, #422f0b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  margin-left: 40%;
}

/* elements */
button:hover {
  cursor: pointer;
}
