/* ids */
#container {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
#container div {
  margin-bottom: 1em;
}
#item-characterstics {
  padding: 1em;
}
#order-item {
  background-color: #262626;
  color: white;
}
#order-item > h2 {
  color: white !important;
}
#item-name {
  margin-bottom: 0;
}
#color-and-size {
  display: flex;
  gap: 1em;
}
#color-and-size > div > h5 {
  margin-bottom: 0.5em;
}
#order-buttons {
  border-top: 1px solid rgb(218, 209, 209);
  border-bottom: 1px solid rgb(218, 209, 209);
  padding: 1em 0;
}
#slider {
  height: 25em;
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
}
#slide-left {
  float: left;
}
#slide-right {
  float: right;
}
#slider-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}
#left-container {
  width: 55%;
}
#payment {
  display: flex;
  gap: 1em;
  padding: 1em;
  justify-content: space-around;
}
#payment > div {
  width: 10em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1em;
  border-radius: 0.5em;
}
#payment > div > img {
  width: 100%;
}
#exchange-and-return {
  display: flex;
}
#exchange-and-return > span {
  padding-top: 0.1em;
}
/* classes */
.card {
  background-color: white;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
}
.characterstic {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0;
  border-bottom: 1px solid #262626;
}
.golden-button {
  border: none;
  background-image: linear-gradient(45deg, #c68409 75%, #422f0b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  margin-left: 40%;
}
.cycle-rating {
  display: flex;
  font-size: 1em;
}
.stars {
  list-style-type: none;
  padding: 0;
}
.star {
  display: inline;
  background-color: white;
  margin-right: 5px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rating-value {
  font-size: 1em;
  padding-top: 0.1em;
  margin-left: 10px;
}
.color-button {
  height: 2em;
  width: 2em;
  margin-right: 1em;
  border: 2px solid rgb(208, 202, 202);
  border-radius: 50%;
}
.size-button {
  border: none;
  border-radius: 0.3em;
  width: 3em;
  font-size: 1em;
}
.striked-off {
  display: inline;
  color: rgb(230, 226, 226);
  text-decoration: line-through;
}
.red-and-white {
  background-color: red;
  border: none;
  color: white;
  padding: 0.5em;
}
.hollow {
  background: transparent;
  border: 1px solid white;
  color: white;
}
.arrow {
  font-size: 3em;
  font-weight: bolder;
  margin-top: 20%;
}
.arrow:hover {
  border: none;
  border-radius: 0.2em;
  background-color: rgb(230, 226, 226);
}
.image-button {
  height: 8em;
  width: 10em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.image-button:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.image-button-active {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* elements */
button {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.2em;
  background-color: white;
  border: none;
  margin-right: 0.5em;
}
button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  #container {
    flex-direction: column;
  }
  #left-container {
    width: 100%;
  }
}
